dist: trusty
install: true
language: go
go:
  - 1.14
env:
  global:
    - GOARCH=amd64
    
before_install:
  - sleep 15
  - wget https://github.com/aquasecurity/trivy/releases/download/v0.11.0/trivy_0.11.0_Linux-64bit.tar.gz
  - tar zxvf trivy_0.11.0_Linux-64bit.tar.gz

script:
  - make deps
  - make build
  - make syntax-checks
  - make lint-checks
  - make security-checks
after_success:
  - make push
